html{
    background-color: wheat;    
    font-family: cursive;
    text-align: left;
    background-size: 100% 100%;
    color: black;
    
}
h3, ol, ul{
    text-align: left;
}
ol, ul{
    border-style: ridge;
    border-radius: 20px;
    color: black;
    font-size:medium;
    text-shadow: none;
}
.head{
    color: white;
    text-shadow: 1px 0 1px #000, 
    0 1px 1px #000,     
    -1px 0 1px #000, 
    0 -1px 1px #000;
    text-align: center;
}
.body{
    color: white;
    text-shadow: 1px 0 1px #000, 
    0 1px 1px #000,     
    -1px 0 1px #000, 
    0 -1px 1px #000;
    text-align: center;
}
p{
    color: black;
    font-size: larger;
}
.txt{
    text-align: left;
}
.centr_img{
    display: block;
    margin: 0 auto;
}
/* .light_theme {
    background-color: aliceblue;
    color: #000;
    font-family: fantasy;
    text-align: center;
}
.dark_theme {
    background-color: blue;
    color: aliceblue;
    font-family: cursive;
    text-align: center;
}
.theme_button {
    background-color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 25px;
    padding-left: 5%;
} */

h4 
{
    text-align: center;
}

.mailed, .pole{
    text-align: center;
    margin: 0 auto;
    display: block;
}